

<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="container shadow p-3 mb-5 bg-white rounded">
  <div *ngFor="let message of messageList">

    <div class="d-flex flex-row-reverse">
      <i class="fa fa-reply" (click)="EnableReply(message)"></i>
      <div class="card w-75">
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <p class="card-text">{{message.body}}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="message && message.messageReplys.length > 0">
      <div *ngFor="let reply of message.messageReplys">
        <div class="d-flex flex-row-reverse">
          <div class="card w-50">
            <div class="shadow-none p-3 mb-5 bg-light rounded">
              <div class="card-body">
                <p class="card-text">{{reply.body}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div class="footer">
    <div class="container shadow p-3 mb-5 bg-white rounded">
      <div class="d-flex flex-row-reverse">
        <button [hidden]="isReplying==true" (click)="SendMessage()">Send</button>
        <button [hidden]="isReplying==false" (click)="SendReply()">Send</button>
        <input style="width: 80%; height: 50px;" id="message" [(ngModel)]="message"/>
      </div>
    </div>
  </div>

</div>

<!-- <message-box></message-box> -->






